## Get Baseball Data from Fangraphs.com

Use the pybaseball library to get baseball pitcher data from Fangraphs.com from https://pypi.org/project/pybaseball/

# Obtaining Data

## Get Baseball Data from Fangraphs.com

Fangraphs.com has over 300 features that are measured/describe an individual pitcher (like name, team, wins, games played, etc.) for each season. While I only plan to use a small fraction of these measures, it is good to explore all of the different ways I can analyze an individual pitcher.

Use the pybaseball library to get baseball pitcher data from Fangraphs.com from https://pypi.org/project/pybaseball/

In [1]:
#pip install pybaseball

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt


#pybaseball is the library used to download data
from pybaseball import pitching_stats #gets the general stats for major league pitchers
from pybaseball.statcast_pitcher_spin import statcast_pitcher_spin #gets the spin of pitches thrown by a pitcher over a set time period
from pybaseball.playerid_lookup import playerid_lookup #looks up the id of a pitcher using a pitcher's name
from pybaseball.playerid_lookup import playerid_reverse_lookup

## Exploring 2021 (General) Pitching Data

In [3]:
from pybaseball.lahman import *
download_lahman() #download the entire lahman database to your current working directory

# a table of all player biographical info and ids
people = people()

In [4]:
people

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,215.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,2021.0,1.0,22.0,...,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,...,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,aasedo01,1954.0,9.0,8.0,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20353,zupofr01,1939.0,8.0,29.0,USA,CA,San Francisco,2005.0,3.0,25.0,...,Zupo,Frank Joseph,182.0,71.0,L,R,1957-07-01,1961-05-09,zupof101,zupofr01
20354,zuvelpa01,1958.0,10.0,31.0,USA,CA,San Mateo,NaN,NaN,NaN,...,Zuvella,Paul,173.0,72.0,R,R,1982-09-04,1991-05-02,zuvep001,zuvelpa01
20355,zuverge01,1924.0,8.0,20.0,USA,MI,Holland,2014.0,9.0,8.0,...,Zuverink,George,195.0,76.0,R,R,1951-04-21,1959-06-15,zuveg101,zuverge01
20356,zwilldu01,1888.0,11.0,2.0,USA,MO,St. Louis,1978.0,3.0,27.0,...,Zwilling,Edward Harrison,160.0,66.0,L,L,1910-08-14,1916-07-12,zwild101,zwilldu01
20357,zychto01,1990.0,8.0,7.0,USA,IL,Monee,NaN,NaN,NaN,...,Zych,Anthony Aaron,190.0,75.0,R,R,2015-09-04,2017-08-19,zycht001,zychto01

I can use pitching_stats from pybaseball to get pitching data for an individual season. https://github.com/jldbc/pybaseball/blob/master/docs/pitching_stats.md

In [15]:
pitching_fangraphs = pitching_stats(2018, 2021, qual=10) #get the pitching data from 2018 to 2021 using pybaseball

#qual is the minimum number of plate appearances (check if pitcher actually pitched this year)

__Assumption__: There is a question of whether to look at pitchers over their entire career or just individual seasons. I am making the assumption that it is easier to keep track of invidual seasons rather than entire careers. Because pitchers may change their arsenal or pitching form from year to year, it may impact how they perform versus other seasons. If aggregated, it may be more difficult to correlate a pitcher's arsenal to their career performance. That is why I will look at the performance of a pitcher's individual season over many.

In other words, Corbin Burnes in 2021 is different from Corbin Burnes in 2020. I will consider these two seperate entries even though they are the same physical person.

In [16]:
pitching_fangraphs

,IDfg,Season,Name,Team,Age,W,L,WAR,ERA,G,...,LA,Barrels,Barrel%,maxEV,HardHit,HardHit%,Events,CStr%,CSW%,xERA
79,10954,2018,Jacob deGrom,NYM,30,10,9,9.0,1.70,32,...,11.2,19,0.037,112.9,138,0.268,515,0.164,0.315,NaN
249,13125,2019,Gerrit Cole,HOU,28,20,5,7.5,2.50,33,...,14.0,25,0.057,115.2,156,0.355,440,0.171,0.339,NaN
255,3137,2018,Max Scherzer,WSN,33,18,7,7.5,2.53,33,...,20.6,34,0.068,111.1,159,0.316,503,0.165,0.327,NaN
214,19361,2021,Corbin Burnes,MIL,26,11,5,7.5,2.43,28,...,8.4,12,0.031,114.2,117,0.305,383,0.172,0.338,NaN
356,10310,2021,Zack Wheeler,PHI,31,14,10,7.3,2.78,32,...,8.4,25,0.046,118.6,156,0.285,548,0.156,0.280,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,15046,2020,Trevor Gott,SFG,27,1,2,-1.1,10.03,15,...,28.2,7,0.175,109.1,20,0.500,40,0.157,0.249,NaN
2096,6655,2019,Craig Kimbrel,CHC,31,0,4,-1.1,6.53,23,...,15.5,9,0.173,115.3,24,0.462,52,0.138,0.286,NaN
2138,15846,2021,Adam Plutko,BAL,29,1,2,-1.2,6.71,38,...,23.2,21,0.116,113.1,72,0.398,181,0.114,0.217,NaN
1548,18282,2018,Jarlin Garcia,MIA,25,3,3,-1.3,4.91,29,...,12.8,22,0.105,112.0,78,0.371,210,0.175,0.257,NaN
2005,9388,2018,Josh Tomlin,CLE,33,2,5,-1.4,6.14,32,...,18.1,27,0.104,117.1,96,0.371,259,0.166,0.255,NaN

In [17]:
'''positive_war = pitching_fangraphs['IDfg'][pitching_fangraphs['WAR'] > 0].count()
negative_war = pitching_fangraphs['IDfg'][pitching_fangraphs['WAR'] < 0].count()
neutral_war = pitching_fangraphs['IDfg'][pitching_fangraphs['WAR'] == 0].count()
no_war = pitching_fangraphs.isnull().sum()

positive_war + negative_war+neutral_war
'''

"positive_war = pitching_fangraphs['IDfg'][pitching_fangraphs['WAR'] > 0].count()\nnegative_war = pitching_fangraphs['IDfg'][pitching_fangraphs['WAR'] < 0].count()\nneutral_war = pitching_fangraphs['IDfg'][pitching_fangraphs['WAR'] == 0].count()\nno_war = pitching_fangraphs.isnull().sum()\n\npositive_war + negative_war+neutral_war\n"

In [18]:
columns = pitching_fangraphs.columns.tolist()

for metric in columns:
    print(metric)

IDfg
Season
Name
Team
Age
W
L
WAR
ERA
G
GS
CG
ShO
SV
BS
IP
TBF
H
R
ER
HR
BB
IBB
HBP
WP
BK
SO
GB
FB
LD
IFFB
Balls
Strikes
Pitches
RS
IFH
BU
BUH
K/9
BB/9
K/BB
H/9
HR/9
AVG
WHIP
BABIP
LOB%
FIP
GB/FB
LD%
GB%
FB%
IFFB%
HR/FB
IFH%
BUH%
Starting
Start-IP
Relieving
Relief-IP
RAR
Dollars
tERA
xFIP
WPA
-WPA
+WPA
RE24
REW
pLI
inLI
gmLI
exLI
Pulls
WPA/LI
Clutch
FB% 2
FBv
SL%
SLv
CT%
CTv
CB%
CBv
CH%
CHv
SF%
SFv
KN%
KNv
XX%
PO%
wFB
wSL
wCT
wCB
wCH
wSF
wKN
wFB/C
wSL/C
wCT/C
wCB/C
wCH/C
wSF/C
wKN/C
O-Swing%
Z-Swing%
Swing%
O-Contact%
Z-Contact%
Contact%
Zone%
F-Strike%
SwStr%
HLD
SD
MD
ERA-
FIP-
xFIP-
K%
BB%
SIERA
RS/9
E-F
FA% (sc)
FT% (sc)
FC% (sc)
FS% (sc)
FO% (sc)
SI% (sc)
SL% (sc)
CU% (sc)
KC% (sc)
EP% (sc)
CH% (sc)
SC% (sc)
KN% (sc)
UN% (sc)
vFA (sc)
vFT (sc)
vFC (sc)
vFS (sc)
vFO (sc)
vSI (sc)
vSL (sc)
vCU (sc)
vKC (sc)
vEP (sc)
vCH (sc)
vSC (sc)
vKN (sc)
FA-X (sc)
FT-X (sc)
FC-X (sc)
FS-X (sc)
FO-X (sc)
SI-X (sc)
SL-X (sc)
CU-X (sc)
KC-X (sc)
EP-X (sc)
CH-X (sc)
SC-X (sc)
KN-X (sc)
FA-Z (sc)
FT-Z (sc)
FC-Z (sc)
FS-Z (sc)
FO-Z (sc)
SI-Z (sc)
SL-Z (sc)
CU-Z (sc)
KC-Z (sc)
EP-Z (sc)
CH-Z (sc)
SC-Z (sc)
KN-Z (sc)
wFA (sc)
wFT (sc)
wFC (sc)
wFS (sc)
wFO (sc)
wSI (sc)
wSL (sc)
wCU (sc)
wKC (sc)
wEP (sc)
wCH (sc)
wSC (sc)
wKN (sc)
wFA/C (sc)
wFT/C (sc)
wFC/C (sc)
wFS/C (sc)
wFO/C (sc)
wSI/C (sc)
wSL/C (sc)
wCU/C (sc)
wKC/C (sc)
wEP/C (sc)
wCH/C (sc)
wSC/C (sc)
wKN/C (sc)
O-Swing% (sc)
Z-Swing% (sc)
Swing% (sc)
O-Contact% (sc)
Z-Contact% (sc)
Contact% (sc)
Zone% (sc)
Pace
RA9-WAR
BIP-Wins
LOB-Wins
FDP-Wins
Age Rng
K-BB%
Pull%
Cent%
Oppo%
Soft%
Med%
Hard%
kwERA
TTO%
CH% (pi)
CS% (pi)
CU% (pi)
FA% (pi)
FC% (pi)
FS% (pi)
KN% (pi)
SB% (pi)
SI% (pi)
SL% (pi)
XX% (pi)
vCH (pi)
vCS (pi)
vCU (pi)
vFA (pi)
vFC (pi)
vFS (pi)
vKN (pi)
vSB (pi)
vSI (pi)
vSL (pi)
vXX (pi)
CH-X (pi)
CS-X (pi)
CU-X (pi)
FA-X (pi)
FC-X (pi)
FS-X (pi)
KN-X (pi)
SB-X (pi)
SI-X (pi)
SL-X (pi)
XX-X (pi)
CH-Z (pi)
CS-Z (pi)
CU-Z (pi)
FA-Z (pi)
FC-Z (pi)
FS-Z (pi)
KN-Z (pi)
SB-Z (pi)
SI-Z (pi)
SL-Z (pi)
XX-Z (pi)
wCH (pi)
wCS (pi)
wCU (pi)
wFA (pi)
wFC (pi)
wFS (pi)
wKN (pi)
wSB (pi)
wSI (pi)
wSL (pi)
wXX (pi)
wCH/C (pi)
wCS/C (pi)
wCU/C (pi)
wFA/C (pi)
wFC/C (pi)
wFS/C (pi)
wKN/C (pi)
wSB/C (pi)
wSI/C (pi)
wSL/C (pi)
wXX/C (pi)
O-Swing% (pi)
Z-Swing% (pi)
Swing% (pi)
O-Contact% (pi)
Z-Contact% (pi)
Contact% (pi)
Zone% (pi)
Pace (pi)
FRM
K/9+
BB/9+
K/BB+
H/9+
HR/9+
AVG+
WHIP+
BABIP+
LOB%+
K%+
BB%+
LD%+
GB%+
FB%+
HR/FB%+
Pull%+
Cent%+
Oppo%+
Soft%+
Med%+
Hard%+
EV
LA
Barrels
Barrel%
maxEV
HardHit
HardHit%
Events
CStr%
CSW%
xERA

In [19]:
pitching_fangraphs[['IDfg', 'Name','BB/9', 'WAR']].sort_values(by='BB/9', ascending=False)

       IDfg              Name   BB/9  WAR
2422  10745  Trevor Rosenthal  15.26 -0.3
2282  16618         Kyle Bird  10.66 -0.6
2420  14974        Tyler Webb  10.47 -0.1
1578  16684        Zac Curtis  10.47 -0.1
2326  17639   Justin Lawrence  10.26  0.0
...     ...               ...    ...  ...
836   18384     Scott Effross   0.61  0.2
1661  19942      Ljay Newsome   0.57  0.0
6     13942       Brent Suter   0.49  0.5
575   18088      Cody Stashak   0.36  0.5
1904   7608      Tommy Milone   0.34  0.3

[2428 rows x 4 columns]

## Get Information on Pitchers Arsenals (the types of pitches they throw) from Baseball Savant (Statcast)

Statcast data: https://baseballsavant.mlb.com/statcast_search

To get information about what pitches a pitcher throws and the stats behind each of those pitches, use Statcast_pitcher_pitch_arsenal. However, this pybaseball module wasn't working from the pybaseball library, so I copied some of the source code from https://github.com/jldbc/pybaseball/blob/master/pybaseball/statcast_pitcher.py

In [20]:
#copied from the pybaseball library. It is as a function to get pitcher pitch arsenal data from fangraphs.com
import requests
import io
def statcast_pitcher_pitch_arsenal(year: int, minP: int = 250, arsenal_type: str = "avg_speed") -> pd.DataFrame:
    arsenals = ["avg_speed", "n_", "avg_spin"]
    if arsenal_type not in arsenals:
        raise ValueError(f"Not a valid arsenal_type. Must be one of {', '.join(arsenals)}.")
    url = f"https://baseballsavant.mlb.com/leaderboard/pitch-arsenals?year={year}&min={minP}&type={arsenal_type}&hand=&csv=true"
    res = requests.get(url, timeout=None).content
    data = pd.read_csv(io.StringIO(res.decode('utf-8')))
    return data

Get the pitching arsenal data from pybaseball library. I run this three separate times: to get the velocity of the pitches for individual pitchers, to get the average spin of the pitches for individual pitchers, and to get the percentage of pitches thrown by an individual pitcher.

Pitch types include: __Fastball__ (fastest pitch), __Sinker__ (fast pitch that sinks a bit), __Cutter__ (fast pitch that moves slightly horizontally), __Slider__ (medium-slow speed pitch that moves horizontally), __Changeup__ (slow pitch with slight downward movement, fake fastball), __Curveball__ (slow pitch that moves down and away with a sharp break), __Splitter__ (slow pitch with sharp downward movement), __Knuckeball__ (a pitch with no spin, behaves randomly)

To get information about what pitches a pitcher throws and the stats behind each of those pitches, use Statcast_pitcher_pitch_arsenal. However, this pybaseball module wasn't working from the pybaseball library, so I copied some of the source code from https://github.com/jldbc/pybaseball/blob/master/pybaseball/statcast_pitcher.py

Below gives back the velocity of pitches for individual pitchers.

In [21]:
pitch_speeds_2021 = statcast_pitcher_pitch_arsenal(2021, minP=200)
pitch_speeds_2021

,last_name,first_name,pitcher,ff_avg_speed,si_avg_speed,fc_avg_speed,sl_avg_speed,ch_avg_speed,cu_avg_speed,fs_avg_speed,kn_avg_speed
0,Clase,Emmanuel,661403,100.7,NaN,100.2,91.9,NaN,NaN,NaN,NaN
1,Hicks,Jordan,663855,100.5,99.2,87.2,83.5,90.2,NaN,NaN,NaN
2,Graterol,Brusdar,660813,99.5,100.0,95.4,88.1,NaN,NaN,NaN,NaN
3,Fernández,Junior,658551,99.3,97.7,NaN,88.6,89.5,NaN,NaN,NaN
4,deGrom,Jacob,594798,99.2,NaN,NaN,91.6,91.4,83.3,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
647,Yardley,Eric,642233,NaN,87.0,NaN,NaN,78.9,72.9,NaN,NaN
648,Arrieta,Jake,453562,NaN,91.4,NaN,88.3,86.9,80.4,NaN,NaN
649,De León,José,592254,NaN,93.0,NaN,79.0,84.3,NaN,NaN,NaN
650,Lawrence,Justin,664875,NaN,97.4,NaN,81.9,NaN,NaN,NaN,NaN
651,Wade,Konner,592831,NaN,90.0,87.6,NaN,82.5,78.3,NaN,NaN

Return the average spin (spin is measured in rotations per minute)

In [22]:
spin_data_2021 = statcast_pitcher_pitch_arsenal(2021, minP=200, arsenal_type='avg_spin')
spin_data_2021.columns

Index(['last_name', ' first_name', 'pitcher', 'ff_avg_spin', 'si_avg_spin',
       'fc_avg_spin', 'sl_avg_spin', 'ch_avg_spin', 'cu_avg_spin',
       'fs_avg_spin', 'kn_avg_spin'],
      dtype='object')

Get the percentage of pitches thrown (e.g. if a pitcher throws just fastballs n_ff = 1.0)

In [23]:
pitch_percentage_2021 = statcast_pitcher_pitch_arsenal(2021, minP=200, arsenal_type='n_')
pitch_percentage_2021

,last_name,first_name,pitcher,n_ff,n_si,n_fc,n_sl,n_ch,n_cu,n_fs,n_kn
0,Clase,Emmanuel,661403,0.9,0.0,69.3,29.7,0.0,0.0,0.0,0.0
1,Hicks,Jordan,663855,1.4,68.1,26.1,1.0,3.4,0.0,0.0,0.0
2,Graterol,Brusdar,660813,2.1,59.1,7.5,31.4,0.0,0.0,0.0,0.0
3,Fernández,Junior,658551,0.5,47.0,0.0,21.0,31.5,0.0,0.0,0.0
4,deGrom,Jacob,594798,57.4,0.0,0.0,33.4,8.9,0.3,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
647,Yardley,Eric,642233,0.0,73.0,0.0,0.0,6.3,20.6,0.0,0.0
648,Arrieta,Jake,453562,0.0,53.3,0.0,23.8,7.6,15.4,0.0,0.0
649,De León,José,592254,0.0,62.8,0.0,14.7,22.5,0.0,0.0,0.0
650,Lawrence,Justin,664875,0.0,65.0,0.0,35.0,0.0,0.0,0.0,0.0
651,Wade,Konner,592831,0.0,33.1,30.6,0.0,33.9,2.4,0.0,0.0

__Assumption__: Knuckleballers are weird (knuckelballers = kn). They are baseball anomalies. For those that don't know, a knuckleball is a pitch thrown in such a way that the ball doesn't spin. This makes the ball susceptible to the push and pull of the wind and makes it go in random directions as it travels to the plate. I'm going to omit them from the dataset because they are rare and basically outliers.

In [24]:
#errors if run multiple times without re-downloading data
pitch_speeds_2021.drop('kn_avg_speed',
  axis='columns', inplace=True)
spin_data_2021.drop('kn_avg_spin',
  axis='columns', inplace=True)
pitch_percentage_2021.drop('n_kn',
  axis='columns', inplace=True)

### Merge the Speed, Spin, and Percentage pitches thrown all together

In [25]:
pitching_arsenal_2021 = pd.merge(pitch_speeds_2021, spin_data_2021[['pitcher', 'ff_avg_spin', 'si_avg_spin',
       'fc_avg_spin', 'sl_avg_spin', 'ch_avg_spin', 'cu_avg_spin',
       'fs_avg_spin']], on='pitcher')

pitching_arsenal_2021 = pd.merge(pitching_arsenal_2021, pitch_percentage_2021[['pitcher', 'n_ff', 'n_si',
       'n_fc', 'n_sl', 'n_ch', 'n_cu',
       'n_fs']], on='pitcher')


pitching_arsenal_2021

,last_name,first_name,pitcher,ff_avg_speed,si_avg_speed,fc_avg_speed,sl_avg_speed,ch_avg_speed,cu_avg_speed,fs_avg_speed,...,ch_avg_spin,cu_avg_spin,fs_avg_spin,n_ff,n_si,n_fc,n_sl,n_ch,n_cu,n_fs
0,Clase,Emmanuel,661403,100.7,NaN,100.2,91.9,NaN,NaN,NaN,...,NaN,NaN,NaN,0.9,0.0,69.3,29.7,0.0,0.0,0.0
1,Hicks,Jordan,663855,100.5,99.2,87.2,83.5,90.2,NaN,NaN,...,964.0,NaN,NaN,1.4,68.1,26.1,1.0,3.4,0.0,0.0
2,Graterol,Brusdar,660813,99.5,100.0,95.4,88.1,NaN,NaN,NaN,...,NaN,NaN,NaN,2.1,59.1,7.5,31.4,0.0,0.0,0.0
3,Fernández,Junior,658551,99.3,97.7,NaN,88.6,89.5,NaN,NaN,...,1971.0,NaN,NaN,0.5,47.0,0.0,21.0,31.5,0.0,0.0
4,deGrom,Jacob,594798,99.2,NaN,NaN,91.6,91.4,83.3,NaN,...,1618.0,2705.0,NaN,57.4,0.0,0.0,33.4,8.9,0.3,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
647,Yardley,Eric,642233,NaN,87.0,NaN,NaN,78.9,72.9,NaN,...,1739.0,2732.0,NaN,0.0,73.0,0.0,0.0,6.3,20.6,0.0
648,Arrieta,Jake,453562,NaN,91.4,NaN,88.3,86.9,80.4,NaN,...,1764.0,2690.0,NaN,0.0,53.3,0.0,23.8,7.6,15.4,0.0
649,De León,José,592254,NaN,93.0,NaN,79.0,84.3,NaN,NaN,...,1793.0,NaN,NaN,0.0,62.8,0.0,14.7,22.5,0.0,0.0
650,Lawrence,Justin,664875,NaN,97.4,NaN,81.9,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,65.0,0.0,35.0,0.0,0.0,0.0
651,Wade,Konner,592831,NaN,90.0,87.6,NaN,82.5,78.3,NaN,...,2079.0,1868.0,NaN,0.0,33.1,30.6,0.0,33.9,2.4,0.0

Great, we have information on the types of pitches each individual pitcher pitches in 2021. However, we still need this information for the years 2020, 2019, and 2018. Therefore, repeat the steps above to get pitching_arsenal_2021 but for these other years.

If we are adding the other seasons, let us identify the season, so once we merge all the pitching data together we can have the statistics for pitchers in individual seasons.

In [26]:
pitching_arsenal_2021['Season'] = 2021

### Pitching Arsenals 2020

In [27]:
pitch_speeds_2020 = statcast_pitcher_pitch_arsenal(2020, minP=200)
spin_data_2020 = statcast_pitcher_pitch_arsenal(2020, minP=200, arsenal_type='avg_spin')
pitch_percentage_2020 = statcast_pitcher_pitch_arsenal(2020, minP=200, arsenal_type='n_')

In [28]:
#errors if run multiple times without re-downloading data
pitch_speeds_2020.drop('kn_avg_speed',
  axis='columns', inplace=True)
spin_data_2020.drop('kn_avg_spin',
  axis='columns', inplace=True)
pitch_percentage_2020.drop('n_kn',
  axis='columns', inplace=True)

In [29]:
pitching_arsenal_2020 = pd.merge(pitch_speeds_2020, spin_data_2020[['pitcher', 'ff_avg_spin', 'si_avg_spin',
       'fc_avg_spin', 'sl_avg_spin', 'ch_avg_spin', 'cu_avg_spin',
       'fs_avg_spin']], on='pitcher')

pitching_arsenal_2020 = pd.merge(pitching_arsenal_2020, pitch_percentage_2020[['pitcher', 'n_ff', 'n_si',
       'n_fc', 'n_sl', 'n_ch', 'n_cu',
       'n_fs']], on='pitcher')

In [30]:
pitching_arsenal_2020['Season'] = 2020
pitching_arsenal_2020

,last_name,first_name,pitcher,ff_avg_speed,si_avg_speed,fc_avg_speed,sl_avg_speed,ch_avg_speed,cu_avg_speed,fs_avg_speed,...,cu_avg_spin,fs_avg_spin,n_ff,n_si,n_fc,n_sl,n_ch,n_cu,n_fs,Season
0,May,Dustin,669160,99.1,97.9,93.6,NaN,90.7,86.8,NaN,...,3090.0,NaN,5.5,51.4,24.6,0.0,5.1,13.4,0.0,2020
1,Graterol,Brusdar,660813,98.8,99.3,NaN,89.1,92.1,NaN,NaN,...,NaN,NaN,3.1,67.7,0.0,28.9,0.3,0.0,0.0,2020
2,deGrom,Jacob,594798,98.6,NaN,NaN,92.5,91.4,84.1,NaN,...,2632.0,NaN,44.9,0.0,0.0,35.5,16.9,2.6,0.0,2020
3,Sánchez,Sixto,664350,98.5,96.6,89.1,85.8,89.0,NaN,NaN,...,NaN,NaN,23.8,24.0,17.2,8.4,26.7,0.0,0.0,2020
4,Coonrod,Sam,656322,98.4,97.6,93.6,88.7,88.8,82.4,NaN,...,2902.0,NaN,27.3,31.3,6.4,13.8,18.9,2.4,0.0,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,Sneed,Cy,605482,NaN,NaN,93.0,82.6,81.4,79.8,NaN,...,2437.0,NaN,0.0,0.0,69.6,14.0,1.5,14.9,0.0,2020
461,Bacus,Dakota,621290,NaN,90.7,NaN,85.2,NaN,77.5,NaN,...,2602.0,NaN,0.0,34.2,0.0,60.4,0.0,5.3,0.0,2020
462,Milner,Hoby,571948,NaN,87.9,NaN,NaN,79.2,78.1,NaN,...,1821.0,NaN,0.0,56.6,0.0,0.0,2.1,41.3,0.0,2020
463,Matz,Steven,571927,NaN,94.5,NaN,89.6,84.8,77.7,NaN,...,2426.0,NaN,0.0,53.7,0.0,4.7,26.5,15.0,0.0,2020
464,Grotz,Zac,665093,NaN,91.6,NaN,85.9,NaN,81.7,82.1,...,2326.0,1024.0,0.0,53.0,0.0,5.9,0.0,20.8,20.3,2020

### Pitching Arsenals 2019

In [31]:
pitch_speeds_2019 = statcast_pitcher_pitch_arsenal(2019, minP=200)
spin_data_2019 = statcast_pitcher_pitch_arsenal(2019, minP=200, arsenal_type='avg_spin')
pitch_percentage_2019 = statcast_pitcher_pitch_arsenal(2019, minP=200, arsenal_type='n_')

In [32]:
#errors if run multiple times without re-downloading data
pitch_speeds_2019.drop('kn_avg_speed',
  axis='columns', inplace=True)
spin_data_2019.drop('kn_avg_spin',
  axis='columns', inplace=True)
pitch_percentage_2019.drop('n_kn',
  axis='columns', inplace=True)

In [33]:
pitching_arsenal_2019 = pd.merge(pitch_speeds_2019, spin_data_2019[['pitcher', 'ff_avg_spin', 'si_avg_spin',
       'fc_avg_spin', 'sl_avg_spin', 'ch_avg_spin', 'cu_avg_spin',
       'fs_avg_spin']], on='pitcher')

pitching_arsenal_2019 = pd.merge(pitching_arsenal_2019, pitch_percentage_2019[['pitcher', 'n_ff', 'n_si',
       'n_fc', 'n_sl', 'n_ch', 'n_cu',
       'n_fs']], on='pitcher')

In [34]:
pitching_arsenal_2019['Season'] = 2019
pitching_arsenal_2019

,last_name,first_name,pitcher,ff_avg_speed,si_avg_speed,fc_avg_speed,sl_avg_speed,ch_avg_speed,cu_avg_speed,fs_avg_speed,...,cu_avg_spin,fs_avg_spin,n_ff,n_si,n_fc,n_sl,n_ch,n_cu,n_fs,Season
0,Hicks,Jordan,663855,100.9,101.1,NaN,87.0,91.0,NaN,NaN,...,NaN,NaN,0.2,60.3,0.0,34.7,4.8,0.0,0.0,2019
1,Muñoz,Andrés,662253,99.9,101.1,98.9,86.3,95.7,NaN,NaN,...,NaN,NaN,66.6,0.5,0.5,31.7,0.7,0.0,0.0,2019
2,Clase,Emmanuel,661403,99.5,NaN,99.2,90.5,NaN,NaN,NaN,...,NaN,NaN,5.5,0.0,73.3,21.2,0.0,0.0,0.0,2019
3,Guerrero,Tayron,594027,98.9,99.3,NaN,87.3,NaN,NaN,NaN,...,NaN,NaN,70.1,9.4,0.0,20.4,0.0,0.0,0.0,2019
4,Vázquez,Felipe,553878,98.5,97.7,NaN,86.8,88.5,82.5,NaN,...,2784.0,NaN,59.4,1.7,0.0,16.7,8.0,14.2,0.0,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
628,Holland,Derek,502706,NaN,92.3,NaN,81.1,83.8,77.7,NaN,...,2098.0,NaN,0.0,62.1,0.0,29.6,4.1,4.3,0.0,2019
629,Grace,Matt,594840,NaN,91.2,88.9,83.4,85.3,77.8,NaN,...,NaN,NaN,0.0,62.5,2.7,30.3,4.4,0.1,0.0,2019
630,Noesí,Hector,456051,NaN,93.0,NaN,88.1,86.2,80.1,NaN,...,2586.0,NaN,0.0,44.5,0.0,29.2,9.7,16.7,0.0,2019
631,Cobb,Alex,502171,NaN,92.3,NaN,NaN,NaN,82.5,86.5,...,2494.0,1538.0,0.0,48.0,0.0,0.0,0.0,17.0,34.9,2019
632,Blach,Ty,621389,NaN,90.2,84.4,81.9,79.9,77.1,NaN,...,2392.0,NaN,0.0,56.7,7.3,1.3,26.0,8.7,0.0,2019

### Pitching Arsenals 2018

In [35]:
pitch_speeds_2018 = statcast_pitcher_pitch_arsenal(2018, minP=200)
spin_data_2018 = statcast_pitcher_pitch_arsenal(2018, minP=200, arsenal_type='avg_spin')
pitch_percentage_2018 = statcast_pitcher_pitch_arsenal(2018, minP=200, arsenal_type='n_')

In [36]:
#errors if run multiple times without re-downloading data
pitch_speeds_2018.drop('kn_avg_speed',
  axis='columns', inplace=True)
spin_data_2018.drop('kn_avg_spin',
  axis='columns', inplace=True)
pitch_percentage_2018.drop('n_kn',
  axis='columns', inplace=True)

In [37]:
pitching_arsenal_2018 = pd.merge(pitch_speeds_2018, spin_data_2018[['pitcher', 'ff_avg_spin', 'si_avg_spin',
       'fc_avg_spin', 'sl_avg_spin', 'ch_avg_spin', 'cu_avg_spin',
       'fs_avg_spin']], on='pitcher')

pitching_arsenal_2018 = pd.merge(pitching_arsenal_2018, pitch_percentage_2018[['pitcher', 'n_ff', 'n_si',
       'n_fc', 'n_sl', 'n_ch', 'n_cu',
       'n_fs']], on='pitcher')

In [38]:
pitching_arsenal_2018['Season'] = 2018
pitching_arsenal_2018

,last_name,first_name,pitcher,ff_avg_speed,si_avg_speed,fc_avg_speed,sl_avg_speed,ch_avg_speed,cu_avg_speed,fs_avg_speed,...,cu_avg_spin,fs_avg_spin,n_ff,n_si,n_fc,n_sl,n_ch,n_cu,n_fs,Season
0,Hicks,Jordan,663855,100.9,100.5,NaN,86.2,NaN,NaN,NaN,...,NaN,NaN,1.9,76.1,0.0,22.0,0.0,0.0,0.0,2018
1,Castillo,Diego,650895,98.8,97.3,NaN,88.9,NaN,NaN,NaN,...,NaN,NaN,12.0,42.1,0.0,45.9,0.0,0.0,0.0,2018
2,Guerrero,Tayron,594027,98.8,98.7,NaN,86.0,93.6,NaN,NaN,...,NaN,NaN,76.2,2.8,0.0,19.2,1.8,0.0,0.0,2018
3,Chapman,Aroldis,547973,98.7,100.9,NaN,86.2,91.0,NaN,NaN,...,NaN,NaN,65.9,7.9,0.0,25.4,0.8,0.0,0.0,2018
4,Kelly,Joe,523260,98.1,97.6,NaN,88.0,87.7,84.3,NaN,...,3103.0,NaN,49.9,5.5,0.0,15.0,11.0,18.6,0.0,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,Hart,Donnie,643354,NaN,87.7,NaN,76.1,80.6,NaN,NaN,...,NaN,NaN,0.0,56.2,0.0,32.7,11.1,0.0,0.0,2018
607,Bergman,Christian,548357,NaN,88.5,NaN,85.3,78.3,76.7,NaN,...,2220.0,NaN,0.0,46.0,0.0,13.0,25.5,15.5,0.0,2018
608,Solís,Sammy,519301,NaN,93.3,NaN,NaN,85.3,78.1,NaN,...,2541.0,NaN,0.0,64.0,0.0,0.0,16.2,19.8,0.0,2018
609,Rzepczynski,Marc,519240,NaN,91.9,NaN,84.1,86.2,NaN,NaN,...,NaN,NaN,0.0,54.0,0.0,37.1,8.9,0.0,0.0,2018
610,Meyer,Ben,656738,NaN,91.6,NaN,NaN,82.6,76.8,NaN,...,2057.0,NaN,0.0,66.4,0.0,0.0,10.0,23.6,0.0,2018

### Combine Pitching Arsenals into an all encompassing set of years 2021, 2020, 2019, and 2018

In [39]:
pitching_arsenal_data = pitching_arsenal_2021.append(pitching_arsenal_2020, ignore_index = True)
pitching_arsenal_data = pitching_arsenal_data.append(pitching_arsenal_2019, ignore_index = True)
pitching_arsenal_data = pitching_arsenal_data.append(pitching_arsenal_2018, ignore_index = True)
pitching_arsenal_data

,last_name,first_name,pitcher,ff_avg_speed,si_avg_speed,fc_avg_speed,sl_avg_speed,ch_avg_speed,cu_avg_speed,fs_avg_speed,...,cu_avg_spin,fs_avg_spin,n_ff,n_si,n_fc,n_sl,n_ch,n_cu,n_fs,Season
0,Clase,Emmanuel,661403,100.7,NaN,100.2,91.9,NaN,NaN,NaN,...,NaN,NaN,0.9,0.0,69.3,29.7,0.0,0.0,0.0,2021
1,Hicks,Jordan,663855,100.5,99.2,87.2,83.5,90.2,NaN,NaN,...,NaN,NaN,1.4,68.1,26.1,1.0,3.4,0.0,0.0,2021
2,Graterol,Brusdar,660813,99.5,100.0,95.4,88.1,NaN,NaN,NaN,...,NaN,NaN,2.1,59.1,7.5,31.4,0.0,0.0,0.0,2021
3,Fernández,Junior,658551,99.3,97.7,NaN,88.6,89.5,NaN,NaN,...,NaN,NaN,0.5,47.0,0.0,21.0,31.5,0.0,0.0,2021
4,deGrom,Jacob,594798,99.2,NaN,NaN,91.6,91.4,83.3,NaN,...,2705.0,NaN,57.4,0.0,0.0,33.4,8.9,0.3,0.0,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2356,Hart,Donnie,643354,NaN,87.7,NaN,76.1,80.6,NaN,NaN,...,NaN,NaN,0.0,56.2,0.0,32.7,11.1,0.0,0.0,2018
2357,Bergman,Christian,548357,NaN,88.5,NaN,85.3,78.3,76.7,NaN,...,2220.0,NaN,0.0,46.0,0.0,13.0,25.5,15.5,0.0,2018
2358,Solís,Sammy,519301,NaN,93.3,NaN,NaN,85.3,78.1,NaN,...,2541.0,NaN,0.0,64.0,0.0,0.0,16.2,19.8,0.0,2018
2359,Rzepczynski,Marc,519240,NaN,91.9,NaN,84.1,86.2,NaN,NaN,...,NaN,NaN,0.0,54.0,0.0,37.1,8.9,0.0,0.0,2018
2360,Meyer,Ben,656738,NaN,91.6,NaN,NaN,82.6,76.8,NaN,...,2057.0,NaN,0.0,66.4,0.0,0.0,10.0,23.6,0.0,2018

## Merge The Baseball Savant Pitching Datset (Pitching Arsenal Data) with the Fangraphs Dataset

The fangraphs data and the statcast contain two pieces of the puzzle to solve the wider problem. The fangraphs data shows how statistcally successful a pitcher has done in games, while the statcast data shows the data of what is actually being thrown by those pitchers. Combining the two might show which how what types of pitches are thrown may impact a pitcher's success.

To merge the two datasets, I have to use a primary key to merge on. Originally, I was going to use the name, but some names have unecessary spaces of which I don't want to spend the effort to clean. While the two datasets have different keys, pybaseball has a function call playerid_reverse_lookup (https://github.com/jldbc/pybaseball/blob/master/docs/playerid_reverse_lookup.md) which I use to translate the fangraphs key to the statcast key (mlbam).

In [40]:
## Function: fangraphs key to mlbam id
## Inputs: fangraphs key (int)
## Purpose: The pitching arsenal dataset and the large pitching datset come from two different sources that use different keys
##          Pybasaeball has a function called playerid_lookup that I can use to switch between the fangraphs and the mlbam ids
## Returns: Returns an integer that is the mlbam id

def fangraphs_key_to_mlbam_id(fangraphs_key):
    
    player = playerid_reverse_lookup([fangraphs_key], key_type='fangraphs')
    return int(player['key_mlbam'])

Make a new column called mlbam_id in the fangraphs dataset. Then translate the fangraph ids to mlbam_ids and store it in that column to be used as a merger.

In [41]:
num_rows = pitching_fangraphs.shape[0] #number of rows in the fangraphs dataset
pitching_fangraphs["mlbam_id"] = range(num_rows) #create an mlbam_id column
pitching_fangraphs['IDfg'] = pitching_fangraphs['IDfg'].astype(int) #make sure the Fangraph IDs are integers

#translate the fangraph ids (IDfg) to an mlbam_id in a seperate column
for i in range(num_rows):
    pitching_fangraphs.loc[i, "mlbam_id"] = int(fangraphs_key_to_mlbam_id(pitching_fangraphs.loc[i, "IDfg"]))

Gathering player lookup table. This may take a moment.

In [42]:
pitching_fangraphs['mlbam_id'].astype(int) #make sure the Savant ids are integers. Pitching savant = statcast

79      594798
249     543037
255     453286
214     669203
356     554430
         ...
2387    641627
2096    518886
2138    592644
1548    606424
2005    458708
Name: mlbam_id, Length: 2428, dtype: int32

Make sure the fangraphs and statcast mlbam_ids have the same name, and then merge them on mlbam_id

Metrics to transfer from the Fangraphs data to the statcast data
- I chose to take WAR (wins above replacement) as a metric of success for MLB pitchers. WAR is a comprehensive statistic that estimates the number of wins a player has been worth to his team compared to a freely available player such as a minor league free agent based on his FIP. If below <= 0, then this pitcher was equal/worse than a free agent or minor leaguer who was deemed not suitable for the major leagues prior to the season.

In [43]:
#change the id column's name so that it is the same as the fangraph's
#that way I can merge on this column
pitching_arsenal_data.rename(columns = {'pitcher': 'mlbam_id'}, 
          inplace=True)

pitching_data = pd.merge(pitching_arsenal_data, pitching_fangraphs[['F-Strike%', 'BB/9', 'Age', 'WAR', 'K/9', 'ERA', 'mlbam_id', 'Season']], on=['Season', 'mlbam_id'])

In [44]:
pitching_data

,last_name,first_name,mlbam_id,ff_avg_speed,si_avg_speed,fc_avg_speed,sl_avg_speed,ch_avg_speed,cu_avg_speed,fs_avg_speed,...,n_ch,n_cu,n_fs,Season,F-Strike%,BB/9,Age,WAR,K/9,ERA
0,Clase,Emmanuel,661403,100.7,NaN,100.2,91.9,NaN,NaN,NaN,...,0.0,0.0,0.0,2021,0.631,2.07,23,2.2,9.56,1.29
1,Hicks,Jordan,663855,100.5,99.2,87.2,83.5,90.2,NaN,NaN,...,3.4,0.0,0.0,2021,0.432,9.00,24,0.0,9.00,5.40
2,Graterol,Brusdar,660813,99.5,100.0,95.4,88.1,NaN,NaN,NaN,...,0.0,0.0,0.0,2021,0.640,3.51,22,0.3,7.29,4.59
3,Fernández,Junior,658551,99.3,97.7,NaN,88.6,89.5,NaN,NaN,...,31.5,0.0,0.0,2021,0.608,6.53,24,-0.1,6.53,5.66
4,deGrom,Jacob,594798,99.2,NaN,NaN,91.6,91.4,83.3,NaN,...,8.9,0.3,0.0,2021,0.630,1.08,33,4.9,14.28,1.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2348,Hart,Donnie,643354,NaN,87.7,NaN,76.1,80.6,NaN,NaN,...,11.1,0.0,0.0,2018,0.657,5.59,27,0.0,6.05,5.59
2349,Bergman,Christian,548357,NaN,88.5,NaN,85.3,78.3,76.7,NaN,...,25.5,15.5,0.0,2018,0.579,1.93,30,-0.2,4.50,5.79
2350,Solís,Sammy,519301,NaN,93.3,NaN,NaN,85.3,78.1,NaN,...,16.2,19.8,0.0,2018,0.610,4.12,29,-0.2,10.07,6.41
2351,Rzepczynski,Marc,519240,NaN,91.9,NaN,84.1,86.2,NaN,NaN,...,8.9,0.0,0.0,2018,0.632,8.71,32,-0.3,9.58,6.97
2352,Meyer,Ben,656738,NaN,91.6,NaN,NaN,82.6,76.8,NaN,...,10.0,23.6,0.0,2018,0.598,6.63,25,-0.3,4.26,10.42

In [45]:
#sanity check: we expect to see speed and spin null values (because pitchers don't throw every pitch)
#however, null values elsewhere need to be removed
pitching_data.isnull().sum()

last_name          0
 first_name        0
mlbam_id           0
ff_avg_speed     106
si_avg_speed     729
fc_avg_speed    1691
sl_avg_speed     532
ch_avg_speed     497
cu_avg_speed     819
fs_avg_speed    2166
ff_avg_spin      106
si_avg_spin      730
fc_avg_spin     1691
sl_avg_spin      532
ch_avg_spin      497
cu_avg_spin      821
fs_avg_spin     2166
n_ff               0
n_si               0
n_fc               0
n_sl               0
n_ch               0
n_cu               0
n_fs               0
Season             0
F-Strike%          0
BB/9               0
Age                0
WAR                0
K/9                0
ERA                0
dtype: int64

__Creating More Data from the current data__

In [46]:
### Function: Most Used Pitches
### Parameters: Dataframe containing pitching data for a season
### Purpose: Populates the pitcher's 'favorite pitch' and 'second favorite pitch' column.
###          This is done by using the percentage of pitches thrown by an individual pitcher.
###          The index of the highest and second higest percentage of pitches thrown are used to 
###          place the pitch into the 'favorite pitch' columns
### Return: Dataframe

def most_used_pitches(pitching_df):

    indv_pitch_percentages = [] #percentages of pitches thrown by an individual pitcher
    sorted_indv_pitch_percentages = [] #sorted
    index = 0
    
    #iterate through each row of the dataframe
    for i in range(pitching_df.shape[0]):
        
        #convert the percentage of type of pitch thrown into a list and then sort it
        indv_pitch_percentages = pitching_df.loc[i][['n_ff', 'n_si', 'n_fc', 'n_sl', 'n_ch', 'n_cu', 'n_fs']].tolist()
        sorted_indv_pitch_percentages = sorted(indv_pitch_percentages, key = float, reverse = True)
        
        #locate the indexes of the highest and second highest percentage
        first_fav_index = indv_pitch_percentages.index(sorted_indv_pitch_percentages[0])
        second_fav_index = indv_pitch_percentages.index(sorted_indv_pitch_percentages[1])
        
        #the index where the highest percentage is used to determine if that pitch is a fastball (ff), sinker (si),
        #cutter (fc), slider (sl), changeup (ch), cutter (cu), splitter (fs)
        if first_fav_index == 0:
            pitching_df['Fav_pitch'].loc[i] = 'ff'
        elif first_fav_index == 1:
            pitching_df['Fav_pitch'].loc[i] = 'si'
        elif first_fav_index == 2:
            pitching_df['Fav_pitch'].loc[i] = 'fc'
        elif first_fav_index == 3:
            pitching_df['Fav_pitch'].loc[i] = 'sl'
        elif first_fav_index == 4:
            pitching_df['Fav_pitch'].loc[i] = 'ch'
        elif first_fav_index == 5:
            pitching_df['Fav_pitch'].loc[i] = 'cu'
        elif first_fav_index == 6:
            pitching_df['Fav_pitch'].loc[i] ='fs'
        else:
            pitching_df['Fav_pitch'].loc[i] = 'NaN'
        
        #the index with the second highest percentage is used to find a pitcher's second favorite pitch
        if second_fav_index == 0:
            pitching_df['Fav_pitch_2'].loc[i] = 'ff'
        elif second_fav_index == 1:
            pitching_df['Fav_pitch_2'].loc[i] = 'si'
        elif second_fav_index == 2:
            pitching_df['Fav_pitch_2'].loc[i] = 'fc'
        elif second_fav_index == 3:
            pitching_df['Fav_pitch_2'].loc[i] = 'sl'
        elif second_fav_index == 4:
            pitching_df['Fav_pitch_2'].loc[i] = 'ch'
        elif second_fav_index == 5:
            pitching_df['Fav_pitch_2'].loc[i] = 'cu'
        elif second_fav_index == 1:
            pitching_df['Fav_pitch_2'].loc[i] = 'fs'
        else:
            pitching_df['Fav_pitch'].loc[i] = 'NaN'
            

    return pitching_df

In [47]:

### FunctionL Number of pitches
### Parameters: Dataframe of pitching data
### Purpose: Finds the number of pitches thrown by an individual pitcher
### Returns: Dataframe

def number_of_pitches(pitching_df):
    indv_pitch_percentages = []
    num_pitches = 0
    
    #iterate through each row of data
    for i in range(pitching_df.shape[0]):
        #get pitch type percentages thrown by an individual pitcher as a list
        indv_pitch_percentages = pitching_df.loc[i][['n_ff', 'n_si', 'n_fc', 'n_sl', 'n_ch', 'n_cu', 'n_fs']].tolist()
        
        #iterate through each pitch type
        for percent_pitch_type in indv_pitch_percentages:
            
            #if the percentage is non-negligable, then it is considered a pitch thrown by that pitcher and is added
            #to that pitcher's number of pitches
            if percent_pitch_type >= 0.5:
                num_pitches = num_pitches + 1
        
        #add the number of pitches thrown by the individual pitcher to the original dataframe
        pitching_df['Num_pitches'].loc[i] = num_pitches
        num_pitches = 0 #reset for next pitcher
        
    return pitching_df

In [48]:

pitching_data['Fav_pitch'] = 'NaN'
pitching_data['Fav_pitch_2'] = 'NaN'

pitching_data['Num_pitches'] = 0

In [49]:
pitching_data = most_used_pitches(pitching_data.copy())
pitching_data = number_of_pitches(pitching_data.copy())

C:\Users\605089\Anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [50]:
#get rid of any pitchers that do not have a favorite pitch. If their favorite pitch is Null, then they 
#have not thrown a pitch or some other mistake in the data
pitching_data = pitching_data[pitching_data.Fav_pitch != 'NaN']

pitching_data['Fav_pitch'].value_counts()

ff    1315
si     508
sl     238
fc     122
cu      56
ch      54
fs      15
Name: Fav_pitch, dtype: int64

# Get Pitcher Throwing Hand

Something else that could be relevant is a pitcher's throwing hand. Whether they are a righty or lefty could be a difference maker in the angle at which the ball travels to the plate. Typically (but not always), opposite handed hitters are more successful against the pitcher because they can see the ball better. Given that left handed people are less common than right handed people, there may be an advantage to being a lefty versus a righty.

The unfortunate thing is that the datasets used so far do not contain a pitcher's handidness. Therefore, we have to again pull additional informatoin.

In [51]:
from pybaseball.lahman import * 

download_lahman() #pulls data from Sean Lahman's database, hosted by Chadwick Bureau on GitHub

people = people() #contains biographical information about players

In [52]:
people.head() #contains information on pitcher's such as their birthday, height, weight, and throwing hand

#playerID corresponds with bbref ID (from baseball reference)

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,215.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,2021.0,1.0,22.0,...,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,...,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,aasedo01,1954.0,9.0,8.0,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01

To merge the information we want to our main dataframe, we need to convert the PlayerId to MlbamID so that I can match pitcher's by their unique identifier.

In [53]:
## Function: baseball reference key to mlbam id
## Inputs: fangraphs key (int)
## Purpose: The pitching biographical datset (bbref) and the main dataset (uses mlbam) use different identifiers for pitchers.
##          Pybasaeball has a function called playerid_lookup that I can use to switch between the baseball reference 
##          and the mlbam ids
## Returns: Returns an integer that is the mlbam id

def bbref_key_to_mlbam_id(bbref_key):
    
    player = playerid_reverse_lookup([bbref_key], key_type='bbref')
    if len(player['key_mlbam'].value_counts()) > 0:
        return player['key_mlbam'].iloc[0]
    else:
        return -1

In [54]:
num_rows = people.shape[0] #number of rows in the bbref dataset
people['mlbam_ID'] = 0 #create an mlbam_id column

#translate the baseball reference ids (bbref) to an mlbam_id in a seperate column
for i in range(num_rows):
    people.loc[i, "mlbam_id"] = int(bbref_key_to_mlbam_id(people.loc[i, "playerID"]))

In [55]:
people.head() #check to see if we added the mlbam_id correctly

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,weight,height,bats,throws,debut,finalGame,retroID,bbrefID,mlbam_ID,mlbam_id
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,215.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,0,430911.0
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,2021.0,1.0,22.0,...,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01,0,110001.0
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,...,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01,0,110002.0
3,aasedo01,1954.0,9.0,8.0,USA,CA,Orange,NaN,NaN,NaN,...,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01,0,110003.0
4,abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,NaN,NaN,NaN,...,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01,0,407577.0

Merge the main pitching data set with some biographical information. I'm most interest in their throwing hand (righty (R) or lefty (L)) as that is of great interest when scouting pitchers. However, I'll throw in also height and weight information in case they may be relevant.

In [56]:
pitching_data = pd.merge(pitching_data, people[['throws', 'mlbam_id', 'weight', 'height']], on=['mlbam_id'])

# Write the Data to a CSV

This way I have a local copy to play with.

In [57]:
pitching_data.to_csv('mlb_pitcher_data.csv')

The techincal workbook and analysis are in another notebook, namely Unit_4_project_Technical_Workbook. Please continue onto that workbook.

# Prospect Data

The data for mlb prospects comes from fangraphs.com. I downloaded csv files directly from the website. 

One csv called (supplementary)_prospect_stats contains information about the performance history of mlb prospects in the minor leagues. Another other contains their scouting data called (supplementary_scouting. The last csv ((supplementary)_prospect_bio_data.csv) contains summary info on a prospect (height, weight, throwing hand, etc). The three csv files are merged into prospect_data.csv.

First start with the scouting data.

In [173]:
scout_data = pd.read_csv('(supplementary)_scouting.csv')

In [174]:
scout_data.head()

,Name,Pos,Org,Top 100,Org Rk,Age,TJ Date,FB Type,FB,SL,CB,CH,CMD,RPM FB,RPM Break,Sits,Tops,FV,playerId
0,Grayson Rodriguez,SP,BAL,10.0,2,21.897222,NaN,Tail,60 / 60,50 / 55,55 / 55,55 / 60,40 / 50,2400.0,2650.0,90-95,97.0,60,sa3008130
1,Max Meyer,SP,MIA,19.0,1,22.575000,NaN,Sink/Tail,55 / 60,60 / 60,NaN,45 / 55,30 / 45,2600.0,2600.0,94-98,101.0,55,sa3014430
2,D.L. Hall,MIRP,BAL,28.0,3,23.055556,NaN,Tail,60 / 60,NaN,55 / 60,55 / 60,30 / 40,2400.0,2500.0,93-96,98.0,55,sa3005282
3,Asa Lacy,SP,KCR,29.0,2,22.352778,NaN,Rise,60 / 70,60 / 70,55 / 60,45 / 50,30 / 45,2200.0,2400.0,93-96,98.0,55,sa3014423
4,Jack Leiter,SP,TEX,31.0,1,21.222222,NaN,Rise,55 / 60,50 / 55,55 / 55,40 / 55,30 / 55,2100.0,2250.0,93-97,99.0,50,NaN

The features I'm interested in here are RPM FB and RPM Break (spin), and Sits (avg fastest speed).

In [175]:
#begin converting Sits into the average fastest speed (average speed of fastest pitch)
scout_data.Sits.astype(str) #convert to string

#drop null values since they won't provide any relevant information
scout_data.Sits.dropna()
scout_data.drop(scout_data[pd.isna(scout_data['Sits'])].index, inplace=True)

In [176]:
# Function: Split it
# Purpose: Splits a string based on the delimiter '-'. Therefore, '90-95' becomes ['90', '95']
def split_it(string):
    return string.split('-')

#apply the above function to get the two velocities in Splits
scout_data['Sits'] = scout_data['Sits'].apply(split_it)
scout_data['Sits']

0      [90, 95]
1      [94, 98]
2      [93, 96]
3      [93, 96]
4      [93, 97]
         ...
646    [92, 94]
647    [93, 98]
648    [90, 95]
650    [92, 95]
651    [86, 90]
Name: Sits, Length: 647, dtype: object

In [177]:
#fixing a weird bug, originally ['88', '', '92'] which was giving me errors
scout_data['Sits'].loc[480] = ['88', '92']

C:\Users\605089\Anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [178]:
# Function: Get Average Velocity
# Purpose: Converts an array of two strings, into two floats and then takes the average of those floats
def get_average_velocity(speeds):
    speeds = np.array(speeds)
    speeds = speeds.astype(float)
    return np.mean(speeds)
    
#apply the get_average_velocity function to get teh avg_fastest_speed (average fastest pitch) of the prospect
scout_data['avg_fastest_speed'] = scout_data['Sits'].apply(get_average_velocity)

In [179]:
#convert RPM FB and RPM Break into average spin
scout_data['avg_spin'] = (scout_data['RPM FB'] + scout_data['RPM Break']) / 2
scout_data.head()

,Name,Pos,Org,Top 100,Org Rk,Age,TJ Date,FB Type,FB,SL,...,CH,CMD,RPM FB,RPM Break,Sits,Tops,FV,playerId,avg_fastest_speed,avg_spin
0,Grayson Rodriguez,SP,BAL,10.0,2,21.897222,NaN,Tail,60 / 60,50 / 55,...,55 / 60,40 / 50,2400.0,2650.0,"[90, 95]",97.0,60,sa3008130,92.5,2525.0
1,Max Meyer,SP,MIA,19.0,1,22.575000,NaN,Sink/Tail,55 / 60,60 / 60,...,45 / 55,30 / 45,2600.0,2600.0,"[94, 98]",101.0,55,sa3014430,96.0,2600.0
2,D.L. Hall,MIRP,BAL,28.0,3,23.055556,NaN,Tail,60 / 60,NaN,...,55 / 60,30 / 40,2400.0,2500.0,"[93, 96]",98.0,55,sa3005282,94.5,2450.0
3,Asa Lacy,SP,KCR,29.0,2,22.352778,NaN,Rise,60 / 70,60 / 70,...,45 / 50,30 / 45,2200.0,2400.0,"[93, 96]",98.0,55,sa3014423,94.5,2300.0
4,Jack Leiter,SP,TEX,31.0,1,21.222222,NaN,Rise,55 / 60,50 / 55,...,40 / 55,30 / 55,2100.0,2250.0,"[93, 97]",99.0,50,NaN,95.0,2175.0

Now we have the scout data. Next, we download information about a prospects historical statistics pitching in minor league games.

In [180]:
prospect_stats = pd.read_csv('(supplementary)_prospect_stats.csv')

In [181]:
prospect_stats.head()

,Name,Team,Level,Age,W,L,ERA,G,GS,CG,...,HR,BB,IBB,HBP,WP,BK,SO,PlayerId,BB/9,K/9
0,Keyvius Sampson,SFG,R,—,1,3,5.094339,6,5,0,...,1,6,0,0,1,0,18,10039,3.14,9.42
1,Tyler Matzek,ARI,AA,—,0,0,7.200000,9,0,0,...,1,10,0,1,2,0,21,10058,6.60,12.60
2,Johnny Hellweg,PIT,AAA,—,1,1,1.333333,24,0,0,...,0,13,0,2,3,1,25,10065,5.00,8.33
3,Ian Krol,NYM,AAA,—,4,4,3.869708,89,0,0,...,7,48,3,6,7,0,117,10066,5.02,10.31
4,Caleb Thielbar,DET,AA,—,9,2,2.726602,90,0,0,...,10,21,0,3,4,0,145,10078,1.60,9.66

In [182]:
prospect_stats.columns

Index(['Name', 'Team', 'Level', 'Age', 'W', 'L', 'ERA', 'G', 'GS', 'CG', 'ShO',
       'SV', 'BS', 'HLD', 'IP', 'TBF', 'H', 'R', 'ER', 'HR', 'BB', 'IBB',
       'HBP', 'WP', 'BK', 'SO', 'PlayerId', 'BB/9', 'K/9'],
      dtype='object')

In [183]:
list(prospect_stats['BB/9'])

[3.14,
 6.6,
 5.0,
 5.02,
 1.6,
 2.0,
 5.79,
 2.89,
 0.0,
 0.0,
 3.81,
 4.67,
 3.15,
 2.89,
 4.42,
 27.0,
 5.14,
 3.04,
 3.77,
 3.67,
 1.8,
 3.16,
 6.95,
 18.0,
 4.57,
 2.37,
 4.13,
 7.83,
 4.59,
 2.24,
 0.0,
 3.04,
 5.91,
 3.86,
 1.93,
 2.25,
 2.74,
 11.54,
 4.74,
 4.39,
 3.39,
 6.46,
 4.65,
 4.06,
 12.6,
 5.65,
 3.35,
 4.99,
 2.82,
 3.31,
 3.05,
 4.35,
 2.79,
 2.74,
 3.63,
 2.92,
 5.14,
 2.16,
 2.07,
 6.67,
 2.8,
 1.38,
 18.0,
 4.5,
 18.0,
 2.98,
 3.86,
 0.0,
 1.72,
 3.2,
 7.11,
 3.7,
 2.31,
 1.78,
 3.27,
 3.5,
 2.79,
 2.76,
 3.6,
 4.12,
 8.18,
 1.99,
 8.44,
 5.76,
 1.8,
 3.14,
 1.61,
 3.0,
 2.25,
 3.66,
 4.45,
 2.49,
 4.86,
 5.61,
 2.9,
 3.85,
 9.0,
 9.94,
 4.41,
 3.85,
 3.55,
 1.27,
 1.76,
 15.0,
 2.74,
 4.89,
 5.3,
 3.58,
 0.0,
 5.69,
 4.09,
 4.56,
 3.33,
 3.26,
 5.0,
 2.67,
 3.53,
 4.95,
 6.06,
 4.27,
 2.81,
 3.01,
 2.05,
 0.9,
 3.8,
 7.5,
 3.96,
 6.37,
 8.65,
 0.0,
 4.82,
 3.55,
 3.24,
 1.41,
 4.26,
 6.0,
 3.76,
 2.91,
 0.52,
 6.35,
 5.68,
 3.35,
 4.67,
 5.16,
 3.75,
 6.26,
 36.0,
 6.21,
 6.06,
 1.54,
 7.75,
 3.66,
 1.64,
 4.29,
 2.54,
 1.03,
 3.51,
 3.82,
 4.11,
 3.2,
 2.82,
 9.0,
 3.62,
 3.0,
 3.14,
 2.25,
 8.57,
 3.08,
 2.91,
 3.54,
 2.64,
 5.07,
 7.79,
 0.0,
 4.14,
 3.23,
 0.0,
 2.95,
 9.8,
 4.65,
 5.27,
 1.99,
 3.39,
 3.24,
 3.47,
 1.99,
 2.14,
 5.05,
 3.41,
 1.55,
 3.14,
 0.0,
 5.28,
 2.17,
 4.12,
 9.0,
 1.29,
 5.21,
 2.02,
 2.54,
 2.38,
 7.6,
 6.05,
 4.03,
 5.48,
 1.32,
 3.53,
 2.63,
 3.52,
 1.05,
 3.13,
 10.91,
 6.21,
 8.18,
 3.97,
 5.72,
 3.0,
 1.41,
 5.58,
 1.25,
 1.5,
 2.47,
 10.29,
 4.72,
 4.5,
 0.0,
 0.0,
 3.26,
 2.91,
 5.75,
 4.68,
 3.56,
 0.0,
 5.43,
 4.39,
 11.25,
 4.89,
 4.49,
 3.57,
 7.42,
 4.75,
 6.48,
 2.86,
 2.14,
 2.13,
 3.53,
 2.43,
 6.24,
 5.48,
 4.73,
 3.3,
 5.46,
 5.71,
 5.03,
 2.63,
 2.82,
 30.0,
 8.78,
 4.05,
 2.35,
 0.0,
 4.81,
 4.45,
 4.02,
 4.06,
 2.44,
 3.42,
 4.06,
 6.25,
 16.36,
 2.25,
 3.72,
 3.0,
 3.64,
 4.85,
 4.29,
 3.94,
 6.09,
 4.06,
 5.25,
 4.76,
 4.13,
 3.97,
 18.0,
 2.79,
 3.12,
 5.98,
 2.29,
 4.04,
 4.22,
 5.94,
 5.47,
 4.18,
 4.55,
 3.74,
 2.89,
 5.02,
 2.57,
 4.58,
 3.15,
 2.5,
 2.43,
 13.5,
 3.55,
 3.83,
 4.63,
 2.53,
 0.0,
 3.16,
 3.36,
 2.91,
 3.0,
 1.68,
 3.52,
 2.22,
 2.51,
 3.04,
 4.58,
 4.38,
 4.35,
 6.79,
 4.28,
 3.73,
 1.0,
 0.0,
 6.82,
 2.96,
 4.25,
 6.0,
 10.14,
 6.28,
 10.0,
 3.79,
 5.35,
 4.16,
 3.23,
 3.54,
 2.45,
 3.97,
 5.6,
 2.72,
 4.71,
 12.86,
 3.45,
 3.59,
 5.63,
 4.15,
 0.0,
 3.76,
 3.38,
 3.4,
 3.26,
 6.78,
 4.44,
 3.14,
 2.78,
 5.52,
 12.86,
 3.39,
 0.0,
 3.84,
 4.54,
 4.44,
 4.29,
 4.74,
 4.65,
 1.8,
 3.9,
 4.33,
 9.31,
 4.03,
 5.04,
 2.7,
 2.9,
 2.98,
 2.94,
 4.07,
 4.58,
 4.9,
 3.31,
 4.24,
 2.51,
 3.44,
 3.31,
 6.14,
 3.75,
 6.73,
 2.88,
 3.75,
 2.72,
 4.39,
 4.2,
 2.25,
 2.57,
 1.84,
 5.46,
 4.76,
 4.82,
 2.97,
 4.5,
 4.7,
 3.53,
 3.58,
 20.45,
 3.3,
 2.99,
 2.59,
 4.71,
 19.04,
 4.12,
 6.25,
 3.88,
 5.63,
 5.24,
 1.95,
 2.31,
 3.82,
 4.64,
 1.76,
 4.02,
 2.97,
 2.9,
 5.84,
 6.02,
 2.61,
 2.68,
 3.89,
 3.41,
 4.89,
 4.5,
 5.36,
 18.0,
 4.03,
 4.18,
 3.73,
 2.93,
 2.57,
 3.1,
 5.04,
 4.36,
 3.26,
 2.74,
 1.26,
 4.57,
 3.76,
 2.69,
 3.14,
 2.48,
 3.15,
 3.35,
 4.07,
 7.2,
 2.89,
 3.66,
 2.15,
 8.9,
 4.82,
 2.85,
 18.0,
 3.16,
 1.76,
 6.56,
 3.64,
 5.05,
 1.28,
 5.79,
 3.0,
 5.34,
 4.29,
 3.67,
 3.0,
 3.9,
 3.04,
 4.46,
 3.12,
 4.62,
 2.54,
 3.74,
 8.18,
 3.55,
 6.84,
 4.31,
 2.61,
 2.95,
 0.0,
 4.4,
 3.03,
 4.72,
 0.0,
 18.0,
 5.03,
 8.18,
 0.0,
 5.74,
 1.73,
 3.7,
 4.39,
 1.98,
 2.63,
 3.18,
 4.27,
 2.74,
 4.38,
 0.0,
 2.51,
 3.0,
 5.87,
 5.36,
 0.0,
 4.06,
 4.4,
 3.59,
 3.94,
 5.73,
 4.01,
 3.4,
 3.59,
 5.29,
 3.48,
 4.22,
 5.87,
 3.31,
 3.45,
 1.97,
 2.62,
 2.8,
 0.0,
 4.43,
 4.01,
 5.1,
 3.31,
 5.95,
 4.02,
 6.57,
 5.16,
 3.51,
 4.99,
 3.57,
 4.93,
 3.54,
 4.0,
 2.18,
 5.72,
 2.93,
 5.3,
 2.84,
 4.24,
 4.64,
 4.82,
 4.19,
 3.22,
 3.77,
 5.84,
 3.38,
 2.52,
 3.14,
 5.11,
 3.36,
 4.38,
 3.66,
 5.25,
 9.0,
 4.42,
 6.03,
 4.5,
 3.51,
 4.14,
 2.08,
 5.31,
 0.0,
 5.56,
 4.48,
 2.94,
 3.13,
 2.71,
 1.49,
 5.45,
 4.24,
 4.99,
 2.72,
 5.16,
 2.73,
 5.46,
 6.77,
 7.83,
 3.0,
 4.2,
 2.5,
 2.84,
 3.39,
 3.13,
 4.22,
 2.47,
 4.49,
 4.91,
 6.0,
 4.06,
 4.3,
 3.62,
 3.46,
 0.0,
 4.96,
 4.0,
 3.61,
 2.23,
 4.79,
 3.0,
 2.8,
 6.78,
 1.96,
 4.18,
 1.67,
 5.49,
 3.79,
 2.95,
 2.75,
 3.99,
 4.26,
 5.47,
 4.46,
 3.43,
 4.17,
 5.0,
 3.75,
 2.85,
 11.67,
 2.48,
 4.5,
 3.05,
 3.32,
 5.21,
 4.01,
 4.27,
 3.55,
 8.28,
 4.12,
 5.64,
 5.05,
 4.79,
 3.2,
 3.26,
 2.72,
 4.18,
 4.23,
 4.68,
 4.72,
 2.88,
 5.38,
 3.21,
 4.4,
 2.66,
 5.61,
 5.02,
 4.85,
 4.4,
 3.19,
 4.95,
 3.28,
 3.16,
 6.02,
 3.36,
 4.26,
 3.59,
 4.88,
 6.56,
 3.01,
 6.42,
 5.05,
 3.17,
 3.7,
 4.43,
 3.21,
 4.78,
 3.12,
 3.38,
 4.25,
 2.31,
 3.83,
 4.47,
 4.38,
 5.89,
 2.17,
 5.63,
 7.4,
 5.53,
 5.99,
 3.18,
 2.77,
 2.67,
 4.29,
 3.78,
 4.63,
 5.23,
 3.09,
 2.8,
 5.16,
 3.25,
 7.75,
 4.1,
 2.88,
 2.76,
 2.77,
 3.21,
 1.99,
 4.09,
 3.54,
 2.5,
 6.02,
 3.19,
 3.72,
 10.14,
 3.63,
 3.76,
 2.15,
 2.89,
 3.58,
 5.14,
 4.53,
 4.5,
 2.58,
 4.0,
 5.16,
 2.38,
 3.1,
 5.05,
 3.81,
 4.39,
 5.6,
 5.39,
 3.98,
 3.14,
 3.87,
 2.91,
 4.25,
 3.5,
 6.97,
 3.3,
 4.34,
 2.45,
 2.7,
 1.76,
 3.6,
 1.58,
 2.89,
 3.8,
 4.26,
 1.91,
 4.01,
 4.08,
 5.39,
 2.41,
 4.43,
 4.12,
 4.52,
 3.9,
 3.46,
 5.34,
 4.36,
 3.46,
 1.22,
 4.68,
 4.12,
 3.54,
 3.01,
 2.84,
 3.36,
 2.94,
 4.82,
 0.0,
 4.66,
 4.36,
 5.02,
 4.0,
 4.09,
 4.54,
 3.96,
 5.59,
 4.3,
 5.25,
 3.22,
 6.41,
 4.57,
 4.4,
 3.72,
 3.21,
 3.39,
 3.2,
 1.98,
 3.0,
 2.78,
 5.13,
 2.65,
 3.97,
 3.45,
 3.64,
 3.22,
 5.38,
 4.16,
 6.19,
 3.74,
 4.31,
 2.97,
 2.04,
 2.85,
 3.19,
 4.11,
 8.71,
 3.3,
 9.0,
 3.36,
 5.97,
 3.94,
 1.56,
 3.28,
 3.23,
 4.19,
 4.5,
 3.38,
 3.62,
 2.71,
 3.24,
 0.8,
 6.99,
 3.34,
 2.46,
 3.39,
 5.52,
 3.5,
 4.3,
 5.63,
 2.06,
 2.9,
 5.86,
 2.43,
 3.77,
 3.93,
 4.7,
 4.79,
 3.31,
 5.99,
 5.08,
 4.39,
 6.27,
 3.86,
 1.91,
 3.97,
 4.09,
 4.27,
 4.35,
 4.15,
 4.2,
 3.76,
 3.12,
 3.56,
 3.22,
 2.93,
 6.08,
 2.08,
 6.75,
 1.8,
 2.61,
 3.39,
 3.09,
 3.24,
 4.11,
 2.34,
 2.28,
 4.49,
 3.58,
 4.27,
 5.54,
 2.72,
 3.56,
 6.51,
 2.06,
 5.91,
 8.89,
 2.81,
 2.18,
 7.4,
 2.22,
 4.44,
 3.59,
 3.63,
 2.33,
 4.5,
 2.31,
 4.93,
 5.23,
 4.25,
 3.17,
 3.16,
 4.23,
 4.29,
 3.76,
 4.19,
 4.49,
 1.09,
 4.24,
 2.49,
 3.04,
 2.25,
 2.77,
 2.67,
 2.94,
 3.59,
 2.49,
 3.59,
 3.99,
 3.07,
 3.02,
 2.3,
 4.09,
 4.45,
 6.09,
 1.7,
 6.16,
 1.66,
 3.63,
 3.92,
 1.5,
 4.43,
 6.04,
 4.99,
 2.62,
 4.52,
 3.66,
 4.65,
 3.36,
 2.13,
 3.3,
 4.1,
 2.82,
 3.42,
 3.61,
 3.65,
 2.85,
 3.62,
 2.34,
 4.42,
 3.38,
 4.13,
 2.99,
 0.0,
 2.74,
 5.17,
 7.2,
 3.32,
 5.45,
 4.52,
 1.78,
 3.53,
 3.99,
 3.44,
 3.45,
 5.69,
 3.31,
 2.09,
 3.55,
 4.36,
 1.59,
 2.9,
 1.81,
 5.49,
 3.29,
 4.47,
 4.73,
 3.0,
 5.12,
 2.56,
 3.1,
 4.49,
 4.15,
 3.66,
 4.06,
 2.34,
 6.16,
 4.03,
 4.87,
 2.35,
 4.39,
 6.41,
 2.15,
 3.82,
 4.71,
 1.85,
 3.08,
 5.26,
 4.85,
 5.43,
 3.42,
 2.3,
 9.0,
 0.0,
 3.76,
 2.42,
 4.24,
 3.83,
 2.79,
 1.17,
 ...]

In [184]:
#make sure playerid column matches the scout_data
prospect_stats.rename(columns = {'PlayerId': 'playerId'}, 
          inplace=True)

In [185]:
#merge the two datasets. Really only focused on BB/9 from prospect_stats but will also download other information just in case

prospect_data = pd.merge(scout_data, prospect_stats[['K/9', 'IP', 'BB/9', 'Age','ERA', 'playerId']], on=['playerId'])

In [186]:
prospect_data.head()

,Name,Pos,Org,Top 100,Org Rk,Age_x,TJ Date,FB Type,FB,SL,...,Tops,FV,playerId,avg_fastest_speed,avg_spin,K/9,IP,BB/9,Age_y,ERA
0,Grayson Rodriguez,SP,BAL,10.0,2,21.897222,NaN,Tail,60 / 60,50 / 55,...,97.0,60,sa3008130,92.5,2525.0,11.86,113.1,3.90,—,2.461765
1,D.L. Hall,MIRP,BAL,28.0,3,23.055556,NaN,Tail,60 / 60,NaN,...,98.0,55,sa3005282,94.5,2450.0,11.11,175.0,5.50,—,2.725714
2,Hunter Greene,SP,CIN,34.0,2,22.175000,4/9/2019,Tail,60 / 65,50 / 55,...,103.0,50,sa3005315,96.5,2312.5,11.76,68.1,3.83,—,4.478051
3,Quinn Priester,SP,PIT,35.0,2,21.066667,NaN,Rise,55 / 55,NaN,...,99.0,50,sa3011297,95.5,2325.0,10.19,36.2,4.72,—,3.190906
4,Sixto Sanchez,SP,MIA,36.0,2,23.194444,NaN,Tail,60 / 60,50 / 50,...,101.0,50,19680,97.0,2250.0,8.31,160.2,2.08,—,2.688796

Now we have a merge dataste of scouting and historical data. To top it off, let's add the summary/bio information including height, weight, and throwing hand.

In [187]:
prospect_bio_data = pd.read_csv('(supplementary)_prospect_bio_data.csv')

In [188]:
prospect_bio_data.head()

,Name,Org,Pos,Current Level,Top 100,Org Rk,Trend,FV,ETA,Risk,...,B,T,Sign Yr,Sign Mkt,Sign Org,Bonus,Signed From,Report,Video,playerId
0,Grayson Rodriguez,BAL,SP,AA,10.0,2,NaN,60,2023,High,...,L,R,2018,Draft,BAL,4300000.0,Central Heights HS (TX),"After sitting 90-95 and touching 97 in 2019, R...",XVnKhGydp9Y,sa3008130
1,Max Meyer,MIA,SP,AAA,19.0,1,NaN,55,2021,High,...,R,R,2020,Draft,MIA,6700000.0,Minnesota,I was too low on Meyer before the draft. I saw...,k7_4XDiW_aE,sa3014430
2,D.L. Hall,BAL,MIRP,AA,28.0,3,NaN,55,2022,High,...,L,L,2017,Draft,BAL,3000000.0,Valdosta HS (GA),"Ultra-competitive, athletic southpaws with thi...",uN2TRUVwjs4,sa3005282
3,Asa Lacy,KCR,SP,A+,29.0,2,NaN,55,2022,High,...,L,L,2020,Draft,KCR,6670000.0,Texas A&M,There are folks in baseball who think Lacy had...,fKeDYi5Wzzo,sa3014423
4,Jack Leiter,TEX,SP,NaN,31.0,1,NaN,50,2023,Med,...,R,R,2021,Draft,TEX,7920000.0,Vanderbilt,"He didn't have the prototypical frame, but oth...",NaN,NaN

In [189]:
prospect_bio_data.columns

Index(['Name', 'Org', 'Pos', 'Current Level', 'Top 100', 'Org Rk', 'Trend',
       'FV', 'ETA', 'Risk', 'Age', 'Ht', 'Wt', 'B', 'T', 'Sign Yr', 'Sign Mkt',
       'Sign Org', 'Bonus', 'Signed From', 'Report', 'Video', 'playerId'],
      dtype='object')

We are interested in Height (Ht), Weight (Wt), and throwing hand (T).

In [190]:
prospect_bio_data.rename(columns = {'Ht': 'height', 'Wt': 'weight', 'T': 'throws'}, 
          inplace=True)

Get the final merged product.

In [191]:
prospect_data = pd.merge(prospect_data, prospect_bio_data[['height', 'weight', 'throws', 'playerId']], on=['playerId'])

In [192]:
prospect_data.head()

,Name,Pos,Org,Top 100,Org Rk,Age_x,TJ Date,FB Type,FB,SL,...,avg_fastest_speed,avg_spin,K/9,IP,BB/9,Age_y,ERA,height,weight,throws
0,Grayson Rodriguez,SP,BAL,10.0,2,21.897222,NaN,Tail,60 / 60,50 / 55,...,92.5,2525.0,11.86,113.1,3.90,—,2.461765,"6' 5""",230,R
1,D.L. Hall,MIRP,BAL,28.0,3,23.055556,NaN,Tail,60 / 60,NaN,...,94.5,2450.0,11.11,175.0,5.50,—,2.725714,"6' 0""",195,L
2,Hunter Greene,SP,CIN,34.0,2,22.175000,4/9/2019,Tail,60 / 65,50 / 55,...,96.5,2312.5,11.76,68.1,3.83,—,4.478051,"6' 4""",215,R
3,Quinn Priester,SP,PIT,35.0,2,21.066667,NaN,Rise,55 / 55,NaN,...,95.5,2325.0,10.19,36.2,4.72,—,3.190906,"6' 3""",210,R
4,Sixto Sanchez,SP,MIA,36.0,2,23.194444,NaN,Tail,60 / 60,50 / 50,...,97.0,2250.0,8.31,160.2,2.08,—,2.688796,"6' 0""",234,R

In [193]:
#read the new data into a csv
prospect_data.to_csv('prospect_data.csv')

#### Continue onto the techincal workbook for EDA, data analysis, and machine learning!